/* INFORMATIONS

    - TITLE:   AMS-Manu
    - VERSION: 2.0.0
    - AUTHOR:  Sebastien REYNAUD
    */

/*  FONTS

        - DEFAULT: 'Arial'
        - H1:      'Arial'

*/

/*      COLORS

    - DEFAULT: black

    */


/*                         BODY                            */
.box {
    background-color: #fff;
    color: #eee;
}

body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: repeat(7, auto);
    grid-template-areas:
        "logo nav"
        "box-0"
        "box-1"
        "box-2"
        "box-3"
        "box-4"
        "box-5"
        "box-6";
}

/*                         HEADER                            */
header img {
    height: 40px;
}

.menu {
    border: 2px solid purple;
    height: 50px;
}

/*                         BOX-0                            */
.box-0 {
    display: grid;
    background-image: url(/ressources/images/reparations.jpg);
    background-size: cover;
    height: 100vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
}

.title {
    grid-area: 6/4/6/4;
    color: rgb(56, 124, 79);
}

/*                         BOX-1                            */

.box-1 {
    background-image: url(/ressources/images/histoire.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "histoire-1"
        "histoire-2";

}

.histoire-1 {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #eee;
    grid-area: 4/3/5/6;
    box-shadow: 10px 10px 10px black;

}

.histoire-2 {
    border: 1px solid black;
    border-radius: 20px;
    background-color: #fff;
    grid-area: 6/3/7/6;
    box-shadow: 10px 10px 10px black;

}

h3 {
    text-align: center;
    color: rebeccapurple;
}

/*                         BOX-2                          */

.box-2 {
    background-image: url(/ressources/images/vente.jpg);
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "ventes";

}

.ventes {
    grid-area: 3/2/6/6
}


table img {
    height: 100px;

}

table {
    background-color: #eee;
    border-radius: 20px;
    box-shadow: 0 10px 10px 0 purple;
}


/*                         BOX-3                            */

.box-3 {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "galerie";

    background-color: #eee;
    height: 100vh;
}

.galerie {
    grid-area: 2/3/6/7;
}

.galerie img {
    height: 500px;
}

/*                         BOX-4                            */

.box-4 {
    display: grid;
    grid-template-columns: auto 10% 10% 10% auto;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas: "h3"
        "forfaits-1 forfaits-2 forfaits-3 ";
    background-color: #d9ecd0;
    height: 80vh;
    grid-gap: 40px;
}

.forfaits-title {
    grid-column: 3;
    grid-row: 3;
}

.forfaits-1,
.forfaits-2,
.forfaits-3 {
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(216, 173, 173);
    height: 300px;


}

.forfait-title {
    border-bottom: 1px dashed black;
}

.forfait-content {
    margin-top: 20px;

}
.forfait-content li{
    list-style-type: none;
}
.forfait-content i{
    color: green;
    margin-right: 10px;
}

.forfaits-1 {
    grid-column: 2;
    grid-row: 5;
}

.forfaits-2 {
    grid-column: 3;
    grid-row: 5;
}

.forfaits-3 {
    grid-column: 4;
    grid-row: 5;
}

/*                         BOX-5                            */

.box-5{
    display: grid;
    grid-template-columns: auto 650px;
    grid-gap: 20px;
    
}
.contact{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 1fr);
    grid-template-areas:    "identite"
                            "address"
                            "input-group"
                            "checkbox"
                            "message"
                            "input-group"
                            "btn";
}
.identite, .adresse, .input-group{
    height: 20px;
}

 
.map{
    grid-column: 2;
    height: 200px;
    border: 0;
    margin-top: 20%;
}
#address-1{
    padding-left: 200px;
    padding-bottom: 25px;
    margin-bottom: 35px;    
}
.identite{
    padding-top: 65px;
}
.checkbox{
    margin-top: -65px;
}
.message{
    text-align: center;
    margin-top: -65px;
}
 


/*                         FOOTER                            */

.box-6 {
    background-color: black;
    color: #fff;
    text-align: center;
}

@media all and (max-width:)
